.app-container {
  background-color: #fff;
  .filter-container-form {
    padding: 20px;
    padding-top: 10px;
    .el-form-item {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  .el-table {
    margin: 0 20px;
    width: calc(100% - 40px);
    border-radius: 12px;
    background-color: #fff;
    .el-table__header {
      tr {
        height: 61px;
        th {
          background-color: #fcfdfd;
          .cell {
            color: #000;
            font-size: 16px;
          }
        }
      }
    }
    .configurationTable .el-table__body-wrapper {
      overflow: hidden;
    }
    .el-table__body-wrapper {
      .el-table__body {
        .el-table__row {
          height: 71px;
          .cell {
            color: #000;
            font-size: 16px;
          }
        }
      }
    }
    .afterRenderClass {
      .el-table__body-wrapper {
        overflow: auto;
      }
    }
    .el-checkbox {
      margin-left: calc((100% - 30px) / 2);
      .el-checkbox__input {
        .el-checkbox__inner {
          height: 30px;
          width: 30px;
          &:after {
            @extend %iconfont;
            content: '\e606';
            color: #fff;
            width: 0;
            height: 0;
            border: none;
            font-size: 16px;
            transform: rotate(0) scaleX(1);
            top: 5px;
          }
        }
        &.is-indeterminate {
          .el-checkbox__inner {
            &:before {
              top: 12px;
            }
          }
        }
        &.is-focus, &:hover {
          .el-checkbox__inner {
            border-color: #6993FF;
          }
        }
        &.is-indeterminate, &.is-checked {
          .el-checkbox__inner {
            background-color: #6993FF;
            border-color: #6993FF;
          }
        }
      }
    }
  }
  .title-container {
    overflow: hidden;
    margin-left: 30px;
    .title {
      height: 40px;
      line-height: 40px;
      font-family: PingFangSC-Medium;
      margin-top: 28px;
      font-size: 28px;
    }
    .details {
      font-size: 12px;
      color: #8C8C8C;
      line-height: 20px;
      margin-top: 3px;
      margin-bottom: 22px;
    }
  }
  .el-tabs {
    margin-left: 28px;
    float: left;
    width: calc(100% - 28px - 28px);
    height: calc(100% - 116px - 27px);
    .el-tabs__header {
      background-color: #fff;
      height: 48px;
      .el-tabs__nav-wrap {
        .el-tabs__item {
          height: 50px;
          line-height: 48px;
          font-size: 16px;
          padding-left: 35px !important;
          padding-right: 35px !important;
          color: #5E5E5E;
          &.is-active {
            color: #000;
            position: relative;
            text-shadow: 1px 0 0 currentColor; // 处理fontWeight防止防抖
            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 3px;
              background-color: #6993FF;
            }
          }
        }
      }
    }
    .el-tabs__content {
      .button-container {
        .wx-button {
          margin-right: 24px;
          margin-bottom: 40px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
      padding: 25px 28px 27px 28px;
      height: calc(100% - 58px);
      overflow-y: auto;
      .el-form {
        // margin-top: 40px;
        @extend %el-form;
      }
    }
  }
  .pagination-container {
    padding: 20px 0;
  }
  &.details-container {
    position: relative;
    .btn-container {
      position: absolute;
      top: 40px;
      right: 30px;
      .wx-button {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.pagination-container {
  @include center();
  background-color: #fff;
}